.u-section-1 .u-sheet-1 {
  min-height: 1727px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: BTitrBold;
  font-weight: 700;
  margin: 28px 8px 0 215px;
}

.u-section-1 .u-group-elements-1 {
  width: 344px;
  min-height: 86px;
  height: auto;
  margin: 23px auto 0 10px;
}

.u-section-1 .u-group-elements-2 {
  width: 332px;
  min-height: 86px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 0 311px 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: BTitrBold;
  font-weight: 700;
  margin: -24px -198px 0 31px;
}

.u-section-1 .u-icon-2 {
  width: 24px;
  height: 23px;
  margin: -24px 310px 0 11px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 44px;
  height: 39px;
  margin: -62px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: BNazanin;
  margin: 4px 19px 0 41px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 132px;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 10px 0;
}

.u-section-1 .u-text-4 {
  font-family: BNazanin;
  font-weight: 700;
  margin: 0 20px 0 40px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 105px;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 30px 0;
}

.u-section-1 .u-text-5 {
  font-family: BNazanin;
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-1 .u-table-1 {
  margin: 14px 0 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-1f02-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-2 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-3 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-4 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-5 {
  font-family: BTitrBold;
}

.u-section-1 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dashed;
}

.u-section-1 .u-table-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-1f02-78 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-14 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-15 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-16 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-block-1f02-118 {
  height: 46px;
}

.u-section-1 .u-table-cell-17 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-18 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-19 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-20 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-21 {
  font-family: BTitrBold;
}

.u-block-1f02-133 {
  height: 46px;
}

.u-section-1 .u-table-4 {
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-block-1f02-147 {
  height: 46px;
}

.u-section-1 .u-table-cell-23 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-24 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-25 {
  font-family: BTitrBold;
}

.u-section-1 .u-table-cell-26 {
  font-family: BTitrBold;
}

.u-block-1f02-156 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 123px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}@font-face {
  font-family: 'BTitrBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BTitrBold.ttf);
}@font-face {
  font-family: 'BNazanin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BNazanin.ttf);
}@font-face {
  font-family: 'Kaaf';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Kaaf.ttf);
}